fastapi
uvicorn
gunicorn
python-dotenv
aiofiles
httpx
requests
docx2txt
openpyxl
python-pptx
pandas
psycopg2
supabase
langid
python-multipart
docx
python-docx
PyPDF2
storage3
rapidfuzz
flask-cors
deep_translator
openai