aiofiles==24.1.0
chromadb==1.0.15
langchain-text-splitters==0.3.9
python-dotenv==1.1.1
aklstemmer @ git+https://github.com/andrianllmm/aklanon-stemmer.git@921b887b7b682a90907128a9d43fca8f19539976
httpx==0.28.1
docx2txt==0.9
PyPDF2==3.0.1
openpyxl==3.1.5
python-pptx==1.0.2
psycopg2==2.9.10
fasttext-wheel==0.9.2
gunicorn>=21.2.0
